.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/img1.jpg") no-repeat center center/cover;
  padding: 20px;
}

.signup-form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.signup-heading {
  font-size: 2rem;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.password-input {
  display: flex;
  align-items: center;
}

.password-toggle {
  margin-left: -30px;
  cursor: pointer;
  color: #007bff;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}

.login-link {
  color: #007bff;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.logo-container {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 100px;
}

.logo-container img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.language-selector {
  position: absolute;
  top: 20px; /* Adjust this value to control the vertical position */
  right: 20px; /* Adjust this value to control the horizontal position */
  z-index: 1000; /* Ensure the dropdown appears above other elements */
  display: flex;
  align-items: center;
}

.language-selector label {
  margin-right: 10px; /* Add some space between the label and the dropdown */
  font-size: 14px; /* Adjust label font size */
  color: #333; /* Adjust label text color */
}

.language-selector select {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.language-selector select:focus {
  outline: none;
  border-color: #007bff; /* Highlight border when focused */
}
